@import "tailwindcss";



@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-mocha:#C1AB8D;
  --color-taupe:#C6B8AA;
  --color-nude:#F6F2ED;
  --color-mocha-s:#DEA193;
  --color-taupe-s:#D4C5AE;
  --color-nude-s:#F7E6CA;
  --background:#D4C5AE;
  --color-nav:#D9B391;
  --color-dorado:#D4A056;
  --color-crema:#F5E6D3;

}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
